@use 'modules/modules';
@import 'variables/variables';
@import 'mixins/mixins';
@import 'functions/functions';

@include generate-container();
@include column-default-style();
@include generate-columns();



.nav {
    background: modules.$nav-background-color;
    box-shadow: 0 0 10px modules.$nav-shadow-color;
    display: flex;
    justify-content: center;

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

        @media screen and (min-width: 40em) {
            align-items: center;
        }

    }

    &__list {
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        @media screen and (min-width: 40em) {
            display: flex;
            flex-direction: row;
            width: auto;
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        color: modules.$link-color;
        display: block;
        font-size: 1rem;
        line-height: 1rem;
        padding: 1rem;
        text-decoration: none;

        &:hover {
            background: modules.$link-hover-background-color;
            color: modules.$link-hover-color;
        }
    }

    &__hamburger {
        &-checkbox {
            display: none;

            &:checked+.nav__list {
                display: flex;
            }
        }

        &-label {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            height: 1.5rem;
            padding: 0.75rem;
            width: 1.5rem;

            @media screen and (min-width: 40em) {
                display: none;
            }
        }

        &-line {
            background: modules.$link-color;
            display: block;
            height: 2px;
            width: 1.5rem;
        }
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    width: 100%;

    &__open {
        background-color: rgb(36, 36, 206);
        border: 1px none;
        border-radius: 0.15rem;
        box-sizing: border-box;
        color: white;
        float: right;
        padding: 0.40rem 1rem;
    }

    &__visible {
        opacity: 1;
        transition: opacity 0.3s;
        visibility: visible;
    }

    &__content {
        background-color: white;
        border: 1px solid rgb(119, 118, 118);
        box-sizing: border-box;
        left: 50%;
        margin: 1% auto;
        padding: 1.1rem;
        position: absolute;
        animation: fadein .3s;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (min-width: 992px) {
               width: 50%;
        }
        
        @media only screen and (max-width: 992px) {
               width: 75%;
        }   
    }

    &__close-privacy,
    &__close-terms,
    &__close-faq {
    background-color: transparent;
    border: 1px none;
    float: right;
    font-size: 1rem;
    }

    &__btn-green {
        background-color: rgb(24, 168, 24);
        border: 1px none;
        border-radius: 0.15rem;
        box-sizing: border-box;
        color: white;
        margin-right: 0.4rem;
        padding: 0.40rem 1rem;
    }
    
    &__btn-red {
        background-color: rgb(236, 47, 47);
        border: 1px none;
        border-radius: 0.15rem;
        box-sizing: border-box;
        color: white;
        padding: 0.4rem 1rem;
    }
    
    &__footer-btn {
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: -1rem 0.2rem;
        padding: 1rem 0;
    }
}

