@mixin column-default-style {

    .#{var(container-classname)}>[class^="#{var(column-classname)}"] {
        box-sizing: border-box;
        padding: var(column-padding-mobile);
        position: relative;

        @include mobile-up {
            padding: var(column-padding-custom);
        };
    }
}