$primary-color: #fff;
$secondary-color: #fdcc52;

$nav-line-color: #b8c0c7;

$modal-red-button: #ec2f2f;
$modal-green-button: #18a818;
$modal-text-color: #fff;
$modal-border-color: #777676;
$modal-background-color: #fff;
$modal-overlay-color: #00000066;

$section-new-color1: #7b4397;
$section-new-color2: #dc2430;

$footer-background-color: #343a40;
$footer-text-color: #6c757d;

$heart-color: #ff0000;

$google-icon-color: #db4a39;
$twitter-icon-color: #00acee;
$facebook-icon-color: #3b5998;