@use 'colors'as *;

.section__new {
    background: url('../img/bg-pattern.png'), $section-new-color1;
    background: url('../img/bg-pattern.png'), linear-gradient(to right, $section-new-color2, $section-new-color1);
    color: #ffffff;
    padding: 9.5rem 0 6.25rem 0;
    width: 100%;
}

.section__social,
.section__discover {
    align-items: center;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    padding: 4.5rem 3rem;
}

.fa-fb-bg {
    color: #3b5998;
    opacity: 0.9;
}

.fa-tw-bg {
    color: #00acee;
    opacity: 0.9;
}

.fa-gp-bg {
    color: #db4a39;
    opacity: 0.9;
}

.fa-fb-bg:hover {
    color: #3b5998;
    opacity: 1;
}

.fa-tw-bg:hover {
    color: #00acee;
    opacity: 1;
}

.fa-gp-bg:hover {
    color: #db4a39;
    opacity: 1;
}

.fa-twitter,
.fa-facebook-f,
.fa-google-plus-g {
    color: #ffffff;
}

.heart {
    color: transparent;
    text-shadow: 0 0 0 red;
}

.icon__social {
    text-decoration: none;
}

.heading__love {
    text-align: center;
    white-space: nowrap;
}

.heading__discover,
.p__discover {
    margin-bottom: 1rem;
    text-align: center;
}

.stores {
    margin-top: 1rem;
}

.link__store {
    display: block;
    margin-bottom: 0.8rem;
    text-align: center;
}

.link__store img {
    height: 40px;
}

@media (min-width: 992px) {

    .stores {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .link__store {
        display: inline-block;
        margin-right: 5px;
        text-align: center;
    }

    .section__stop {
        padding-left: 6rem;
        padding-right: 3rem;
    }

}

.heading__stop {
    font-weight: 100;
}

.section__stop {
    background-image: url('../img/bg-cta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-color;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.container__stop {
    padding-left: 2.5rem;
    padding-bottom: 9rem;
    padding-top: 9rem;
    position: relative;
    z-index: 1;
}


